
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6621e7;
}


.topnav {
  overflow: hidden;
  background-color: rgb(36, 20, 78);
}

.topnav a {
  float: left;
  color: #b5d428;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #6621e7;
  color: rgb(85, 214, 186);
}

.topnav a.active {
  background-color: #801035;
  color: white;
}
.topnav a.visited {
  background-color: #2e0202;
  color: rgb(9, 19, 109);
}
.topnav a.unvisited {
  background-color: #be7f88;
  color: white;
}
.header {
  padding: 60px;
  text-align: center;
  background: #c21616;
  color: white;
  font-size: 60px;
}

table, th, td {
  border: 1px solid;
  background-color: aqua;
   table-layout: fixed;
   width: 100px;
   height: fit-content;
}
form {
  border: 1px solid #e7e0e0;
  width: 500px;
}

/* Full-width inputs */
input[type=text], input[type=password] ,input[type=select] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #213ac7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 14px 20px;
  background-color: #f44336;
  margin: 8px 0;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}